body {
  margin:0;
  background: #333;
   text-align:center;
   color:#ddd;
   font-family: Signika Negative, Asap, sans-serif;
   width: 1040px;
   margin: 0 auto;
 }
 
 svg {
   display:block;
   position:relative;
   width:760px;
   background:#1b1a1a;
   
   margin:20px auto;
 }

 .flexbox{
 display: flex;
 justify-content: flex-center;
 }
 button{
   height:50px;
   width: 190px;
   margin-top: 10px;
   background-color:#ff6f73;
   font-size: 1.4rem;
   color:white;
  
   
  
 }
 
 
